<link rel="stylesheet" href="/css/cursos.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<%- include('../partials/navbar') %>
<div class="container mt-4">
<h1>Cursos</h1>
<a href="/cursos/add" class="add-btn">Add Curso</a>



<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
<tbody>
  <% cursos.forEach(curso => { %>
    <tr>
      <td><%= curso.id %></td>
      <td><%= curso.nome %></td>
      <td>
        <a href="/cursos/edit/<%= curso.id %>" class="btn btn-warning btn-sm">
          <i class="bi bi-pencil-square"></i>
        </a>
        <a href="/cursos/delete/<%= curso.id %>" class="btn btn-danger btn-sm">
          <i class="bi bi-trash"></i>
        </a>
      </td>
    </tr>
  <% }) %>
</tbody>
</table>
</div>